/* OPENING SCREEN */

.content-about .opener{
    display: flex;
    background-color: #f98d7d;
    position: relative;
}

.content-about .box{
    width: 100%;
    height: 550px;
}

.content-about .box .heading{
    padding-top: 100px;
    margin-left: 150px;
}

.content-about .box .button{
    margin-top: 100px;
    margin-left: 150px;
}

.content-about .box .button a{
    border: 2px solid black;
    border-radius: 25px;
    color: black;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.content-about .box .button a:hover {
    color: #f98d7d;
    background-color: black;
}

/* PHONE CSS AND ANIMATION */

.content-about .opener .phone{
    width: 80%;
    position: relative;
}

@keyframes rotate {
    from {
        margin-left: -350px;
        transform: skewY(-20deg);
    }
    to {
        margin-left: 0px;
        transform: skewY(0deg);
    }
    
}

.content-about .opener .phone img{
    position: absolute;
    animation: rotate 2.5s;
    height: 450px;
    margin-top: 40px;
}

/* WHAT WE DO  */

.what-we-do{
    width: 100%;
    height: 600px;
    display: flex;
}

.what-we-do .wwd-description{
    width: 100%;
    height: 100%;
    
}

.header{
    position: absolute;
    font-size: 120px;
    white-space: nowrap;
    margin-left: 200px;
}

@media (prefers-reduced-motion: no-preference) {
    .header {
      transition: font-size 1.5s ease;
    }
  }

.transition-header{
    font-size: 50px;
    
}

.what-we-do .wwd-description .wwd-text{
    position: inherit;
    width: 100%;
    height: 100%;
    margin-top: 50px;

}

.description{
    position: absolute;
    overflow-wrap: break-word;
    width: 250px;
    margin-left: 200px;
    margin-top: 240px;
    opacity: 0;

}

@media (prefers-reduced-motion: no-preference) {
    .description {
      transition: opacity 2s ease-out;
    }
  }

.transition-description{
    opacity: 1;
}


/* SVG BOX */
.what-we-do .wwd-box{
    width: 100%;
    height: 100%;
    position: relative;
}

.what-we-do .wwd-box svg{
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* GENIUSES AT WORK */

.meet-team {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #2f2a3e;
}

.team-header{
    position: absolute;
    height: auto;
    width: auto;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-flex;
}

.team-header img{
    height: 100px;
}

.team-header img + h2{
    margin-left: 20px;
}

.team-header h2{
    color: white;
}



/* GET IN TOUCH SECTION */

.get-in-touch{
    width: 100%;
    height: 600px;
    display: flex;
}

.git-description{
    width: 100%;
    height: 100%;

}

.git-text{
    margin-top: 70px;
    float: right;
    margin-right: 200px;
}

.git-description h1{
    font-size: 70px;
}

.git-description p{
    width: 300px;
    overflow-wrap: break-word;
}




/* CONTACT FORM */
.git-form{
    width: 100%;
    height: 100%;
}

.form-contents{
    margin-top: 150px;
    margin-left: 50px;
    width: 500px;
}

.form-contents input, textarea{
    background: lightgray;
    border: none;
    font-family: 'Montserrat';
    border-radius: 30px;
    margin: 6px;
    padding: 16px;
}

.form-contents .form-textarea{
    width: 500px;
    width: 100%;
}

.form-textarea textarea{
    height: 100px;
    width: 100%;
    resize: none;
}

.form-name{
    display: flex;
    width: 500px;
}

.form-half{
    width: 100%;
}

.form-half + .form-half{
    margin-left: 40px;
}

.form-half input{
    width: 100%;
}

.form-line{
    width: 500px;
}

.form-line input{
    width: 100%;
}

.form-button{
    width: 100%;
    margin: 6px;
    padding: 16px;
    text-align: center;
}

.form-button svg{
    fill: white;
    padding: 5px;
}

.form-button button{
    text-align: center;
    background: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    transition: 0.5s;
}

.form-button .button-text{
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.form-button button:hover{
    padding-right: 40px;
}

.form-button button:hover .button-text{
    opacity: 1;
}