/* OPENING SCREEN */

.content .opener{
    display: flex;
    background-color: #f98d7d;
    position: relative;
}

.content .box{
    width: 100%;
    height: 600px;
}

.content .box .heading{
    color: #2f2a3e;
    margin-top: 100px;
    margin-left: 150px;
}

.content .box .heading h1{
    font-weight: 900;
}

.content .box .button{
    margin-top: 100px;
    margin-left: 150px;
}

.content .box .button a{
    border: 2px solid #2f2a3e;
    border-radius: 25px;
    color: #2f2a3e;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.content .box .button a:hover {
    color: #f98d7d;
    background-color: #2f2a3e;
}

/* PHONE CSS AND ANIMATION */

.content .opener .phone{
    width: 80%;
    position: relative;
}

@keyframes rotate {
    from {
        margin-left: -350px;
        transform: skewY(-20deg);
    }
    to {
        margin-left: 150px;
        transform: skewY(0deg);
    }
    
}

.content .opener .phone img{
    margin-left: 150px;
    position: absolute;
    animation: rotate 2.5s;
    height: 450px;
    margin-top: 40px;
}

@media screen and (max-width: 860px){
    .content .box .heading{
        color: #2f2a3e;
        margin-top: 100px;
        margin-left: 50px;
        font-size: 18px;
    }
    
    .content .box .button{
        margin-top: 100px;
        margin-left: 50px;
    }

    @keyframes rotate {
        from {
            margin-left: -550px;
            transform: skewY(-20deg);
        }
        to {
            margin-left: 0px;
            transform: skewY(0deg);
        }
    
    }

    .content .opener .phone img{
        margin-left: 0px;
        position: absolute;
        animation: rotate 2.5s;
        height: 350px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 415px){
    .content .box{
        height: 520px;
    }

    .content .opener .phone img{
        height: 250px;
        margin-top: 70px;
    }

    .content .box .heading{
        margin-top: 100px;
        margin-left: 10px;
        font-size: 15px;
    }
    
    .content .box .button{
        margin-top: 100px;
        margin-left: 10px;
    }

    .content .box .button a{
        padding: 7px 28px;
        font-size: 14px;
    }
}


/* WHAT WE DO  */

.what-we-do{
    width: 100%;
    height: 600px;
    display: flex;
}

.header{
    position: absolute;
    font-size: 120px;
    white-space: nowrap;
    margin-left: 200px;
}

@media (prefers-reduced-motion: no-preference) {
    .header {
      transition: font-size 1.5s ease;
    }
  }

.transition-header{
    font-size: 50px;
    
}

.wwd-description{
    height: 100%;
    width: 50%;
}

.what-we-do .wwd-description .wwd-text{
    color: #2f2a3e;
    height: 100%;
    margin-top: 50px;


}

.description{
    position: absolute;
    overflow-wrap: break-word;
    width: 250px;
    margin-left: 200px;
    margin-top: 240px;
    opacity: 0;

}

@media (prefers-reduced-motion: no-preference) {
    .description {
      transition: opacity 2s ease-out;
    }
  }

.transition-description{
    opacity: 1;
}


/* SVG BOX */
.wwd-box{
    height: 100%;
    width: 50%;
    position: relative;
}

.what-we-do .wwd-box svg{
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 1250px) {
    .what-we-do{
        height: 1100px;
        width: 100%;
        display: block;
    }

    .wwd-description{
        height: 50%;
        width: 100%;

    }
    .wwd-box{
        height: 50%;
        width: 100%;
    }

    .wwd-text{
        width: auto;
        height: auto;
    }

    .wwd-text .header{
        margin-left: 32%;
    }

    .wwd-text .description{
        margin-top: 210px;
        margin-left: 32%;
    }

    .what-we-do .wwd-box svg{
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%);
    }

    .description{

        width: 250px;
        margin-left: 400px;
        margin-top: 240px;
        opacity: 0;
    
    }

    .header{
        position: absolute;
        font-size: 120px;
        white-space: nowrap;
        margin-left: 400px;
    }

    .transition-header{
        font-size: 50px;
        
    }

    .transition-description{
        opacity: 1;
    }
}

@media screen and (max-width: 440px){
    .wwd-text .header{
        margin-left: 12%;
    }

    .wwd-text .description{
        margin-top: 210px;
        margin-left: 12%;
    }

    .what-we-do .wwd-box svg{
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%);
    }

    .description{
        width: 250px;
        margin-left: 400px;
        margin-top: 240px;
        opacity: 0;
    
    }

    .header{
        position: absolute;
        font-size: 120px;
        white-space: nowrap;
        margin-left: 400px;
    }

    .transition-header{
        font-size: 50px;
        
    }

    .transition-description{
        opacity: 1;
    }
}

@media screen and (min-width: 1800px) {
    .content .box .heading{
        margin-left: 500px;
    }

    .content .box .button{
        margin-left: 500px;
    }
    
    .description{
        margin-left: 500px;
    }

    .header{
        margin-left: 500px;
    }

}

/* GENIUSES AT WORK */

.meet-team {
    position: relative;
    width: 100%;
    min-height: 590px;
    background-color: white;
    transition: 2s;
}

.meet-team-transition{
    transition: 2s;
    background-color: #2f2a3e;
}

.team-header{
    position: absolute;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-flex; 
}

.team-header img{
    height: 100px;
}

.team-h1{
    font-size: 40px;
}

.transition-team-header{
    transition: 2s;
    top: 30%;
}

.team-header{
    color: #2f2a3e;
}

.transition-h1{
    color: white;
}

.team-header img + h1{
    margin-left: 20px;
}

.team-buttons{
    position: absolute;
    height: auto;
    width: auto;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 17px;
    opacity: 0;
    pointer-events: none;
}


.toggle{
    cursor: pointer;
    
}

.toggle-active{
    border-bottom: 5px solid white;
    border-radius: 5px;
}

.idea-people-remake{
    padding: 10px;
    opacity: 0;
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 80px;

}

.idea-people{
    flex-flow: row wrap;
    justify-content: center;
    position: absolute;
    /* height: 400px; */
    width: 70%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    opacity: 0;
    pointer-events: none;
}


.middle {
    top: 75%;
}
@media screen and (max-width: 1151px) {
    
    .idea-people{
        top: 61%;
        width: 90%;
    }
    /* .meet-team{
        height: 900px;
    } */
    .middle{
        top: 65%;
    }

}


.idea-transition{
    transition: 1s;
    opacity: 1;
    pointer-events: all;
}

.person{
    position: relative;
    height: 200px;
    width: 200px;
    
}

.photo{
    position: relative;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 140px;
    width: 140px;
    border-radius: 140px;
    background-color: #f98d7d;
}

.photo img{
    position: relative;
    height: 132px;
    width: 132px;
    border-radius: 132px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name{
    text-align: center;
    margin-top: 5px;
    height: 30px;
    width: 100%;
    color: white;
}

.role{
    text-align: center;
    font-size: 15px;
    height: 20px;
    width: 100%;
    color: #f98d7d;
}

@media screen and (max-width: 678px){
    .idea-people{
        top: 63%;
        width: 100%;
    }
    /* .meet-team{
        height: 1000px;
    } */
    .middle{
        top: 47%;
    }

    .person{
        position: relative;
        height: 170px;
        width: 170px;
        margin-top: 10px;
    }
    
    .photo{
        position: relative;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 120px;
        width: 120px;
        border-radius: 100px;
        background-color: #f98d7d;
    }
    
    .photo img{
        height: 110px;
        width: 110px;
    }
    
    .name{
        font-size: 15px;
        height: 15px;
    }
    
    .role{
        font-size: 12px;
        height: 20px;
    }

    .team-buttons{
        font-size: 12px;
        width: 100%;
        text-align: center;
        top: 67%;
    }

    .team-h1{
        font-size: 25px;
    }

    .transition-team-header{
        top: 35%;
    }
}




/* GET IN TOUCH SECTION */

.get-in-touch{
    width: 100%;
    height: 600px;
    display: flex;
}

.git-description{
    width: 100%;
    height: auto;

}

.git-text{
    color: #2f2a3e;
    margin-top: 100px;
    margin-left: 200px;
}

.git-description h1{
    font-size: 70px;
}

.git-description p{
    width: 300px;
    overflow-wrap: break-word;
}

/* CONTACT FORM */
.git-form{
    width: 100%;
    height: 100%;
}

.form-contents{
    margin-top: 150px;
    margin-left: 50px;
}

@media screen and (max-width: 1207px) {
    .git-text{
        margin-top: 0px;
        margin-left: 0px;
        width: 400px;
        margin:  0 auto;
    }

    .form-contents{
        margin: 0 auto;
    }

    .get-in-touch{
        height: auto;
        width: 100%;
        display: block;
    }

}

@media screen and (max-width: 400px){
    .git-description h1{
        font-size: 50px;
        margin-left: 20px;
    }

    .git-description p{
        width: 220px;
        font-size: 16px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 1800px) {
    .git-text{
        margin-left: 500px;
    }
}