

#content-contact #box{
    height: 700px;
    background-color: #f98d7d;
    
}

#content-contact #box{
    padding-top: 70px;
    text-align: center;
}

#content-contact #box p{
    color: white;
}

.container {
    width: 100%;
    height: 400px;
    display: flex;
}

.container .third{
    width: 100%;
    text-align: center;
}

.container .third .icon{
    margin-top: 100px;
}

.form-container{
    width: 100%;
    height: 700px;
    display: flex;;
}

.form-container .map{
    width: 100%;
    text-align: right;
}

.form-container .map iframe{
    margin-top: 100px;
}

.form-container .form {
    width: 100%;
    font-family: 'Montserrat';
}

.form .form-contents{
    margin-top: 220px;
    margin-left: 50px;
    width: 500px;
}

.form .form-contents input{
    background: lightgray;
    border: none;
    font-family: 'Montserrat';
    border-radius: 30px;
    margin: 6px;
    padding: 12px;
}

.form .form-contents .form-name{
    display: flex;
}

.form .form-contents .form-name #lastname{
    margin-left: 55px;
}

.form .form-contents .form-name .form-half input{
    width: 100%;
}

.form .form-contents .form-line input{
    width: 100%;
}

.form .form-contents .button{
    margin-top: 20px;
    text-align: center;
}

.form .form-contents .button svg{
    fill: white;
    padding: 5px;
    transition: 0.5s;
}

.form .form-contents .button button{
    text-align: center;
    background: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.form .form-contents .submit{
    transition: 0.2s;
    display: inline-flex;
}

.form .form-contents .button .button-text{
    opacity: 0;
    color: white;
    transition: 0.2s;
    left: 30;
    display: flex;
}

.form .form-contents .button button:hover{
    padding-right: 60px;
    padding-left: 60px;
}

.form .form-contents .button button:hover svg{
    fill: #f98d7d;
}

.form .form-contents .button button:hover .button-text{
    opacity: 1;

}




