#content-contact #box{
    height: auto;
    background-color: #f98d7d;
    
}

#content-contact #box{
    padding-top: 70px;
    text-align: center;
}

#content-contact #box p{
    color: white;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: 20px;
}

.container .third{
    width: 100%;
    height: auto;
    text-align: center;
}

.container .third .icon{
    margin-top: 100px;
}

.form-container{
    width: 100%;
    height: 700px;
    display: flex;
}

/* width="600" height="450" */

.form-container .map{
    width: 100%;
    text-align: right;
}

.form-container .map iframe{
    margin-top: 100px;
    width: 600px;
    height: 450px;
}

.form-container .form {
    position: relative;
    width: 100%;
    font-family: 'Montserrat';
}

.form-contents{
    margin-top: 150px;
    margin-left: 50px;
}

@media screen and (max-width: 1207px) {

    .form-container .map iframe{
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 500px;
        width: 650px;
    }
    .form-contents{
        margin: 0 auto;
    }

    .form-container{
        height: auto;
        width: 100%;
        display: block;
    }

    .form-container .map{
        text-align: center;
        height: auto;
        width: 100%;
    }

    .form-container .form{
        height: auto;
        width: 100%;
        position: relative;
    }
}

@media screen and (max-width: 700px) {
    .form-container .map iframe{
        height: 300px;
        width: 450px;
    }
    
    .container{
        display: block;
        padding-bottom: 20px;
    }
}


