/* OPENING PAGE */

.content{
    display: block;
    overflow-x: hidden;
}

#openHeading{
  margin-top: 100px;
  text-align: center;
}

#openHeading h1 {
    color: #2f2a3e;
    font-weight: 900;
}

#openHeading h1 span{
    color: #f98d7d;
}

#social-medias{
    margin-top: 100px;
    text-align: center;
}

#social-medias #icon{
    height: 40px;
    padding: 20px;
}


/* APPLE BUTTON */
.btn{
    border-radius: 30px;
    border-color: white;
    background-color: white;
    display: inline-flex;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
}

.btn .circle img{
    height: 40px;
    transition: 0.5s;
}

.btn span{
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding: 5px;
    transition: 0.5s;
}

.btn span:after{
    content: "App Store";
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 20px;
    right: 0px;
    left: 30px;
    transition: 0.5s;
}

.btn:hover{
    border-color: black;
    padding-right: 40px;
}

.btn:hover span{
    padding-right: 55px;
}

.btn:hover span:after{
    opacity: 1;
    right: -50px;
}


/* GOOGLE PLAY BUTTON */
.btn-reverse{
    border-radius: 30px;
    border-color: white;
    background-color: white;
    display: inline-flex;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.btn-reverse a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
}

.btn-reverse .circle img{
    height: 40px;
    transition: 0.5s;
}

.btn-reverse span{
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding: 5px;
    transition: 0.5s;
}

.btn-reverse span:after{
    content: "Google Play";
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 20px;
    left: 0px;
    right: 30px;
    transition: 0.5s;
}

.btn-reverse:hover{
    border-color: black;
    padding-left: 40px;
}

.btn-reverse:hover span{
    padding-left: 55px;
}

.btn-reverse:hover span:after{
    opacity: 1;
    left: -50px;
}

/* WHAT WE DO */

.horizontal-scroll{
    position: relative;
    margin: auto;
    display: inline-flex;
    width: 99vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev{
      left: 0;
  }
  
  /* Position the "next" button to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
  }

.main{
    position: sticky;
    overflow-x: hidden;
}

.what-we-do{
    position: relative;
    display: flex;
    width: 100vw;
    
}


.what-we-do .heading{
    position: relative;
    width: 33vw;
    height: 100%;
}

.what-we-do .heading h1{
    color: #f98d7d;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}

.what-we-do .keep-phone{
    position: relative;
    text-align: center;
    width: 33vw;
    height: 100%;
}

.what-we-do .keep-phone img{
    height: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.what-we-do .text{
    position: relative;
    width: 33vw;
    height: 100%;
    overflow-wrap: break-word;
}

.what-we-do .text p{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

@media screen and (max-width: 800px){
    /* .slideshow{
        height: 500px;
    } */

    .what-we-do .keep-phone img{
        height: 250px;
    }

    .what-we-do .text{
        font-size: 15px;
    }

    .what-we-do .text p{
        margin-top: 40px;
    }

    .what-we-do .heading{
        font-size: 15px;
    }

    .what-we-do .heading h1{
        margin-top: 40px;
    }

    .horizontal-scroll{
        height: 85vh;
    }
}

@media screen and (max-width: 500px){
    .what-we-do .text{
        font-size: 12px;
    }
}

@media screen and (min-width: 2000px){
    #openHeading{
        font-size: 40px;
    }
    
    .what-we-do .keep-phone img{
        height: 750px;
    }

    .what-we-do .heading{
        font-size: 45px;
    }

    .what-we-do .text{
        font-size: 35px;
    }


    
}

/* HOME BANNERS  */

.banner{
    text-align: center;
    background-image: linear-gradient(to right, #f9bb87, #fc4c71);
    padding: 40px;
    color: #2f2a3e;
}

.banner a {
    border: 2px solid #2f2a3e;
    border-radius: 25px;
    color: #2f2a3e;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 40%;
    margin-right: 40%;
  }
  
.banner a:hover {
    color: #f98d7d;
    background-color: #2f2a3e;
}

@media screen and (max-width: 1000px){
    .banner a{
        margin-left: 25%;
        margin-right: 25%;
    }
}

/* FEATURES BOX */


.features-box{
    margin-top: 50px;
    position: relative;
    background: rgba(249, 187, 135, 0.3);
    height: auto;
}

.feature-header {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;
    margin: 0;
    text-align: center;
    font-size: 66pt;
    color: white;
}

.feature-header h1{
    margin: 0;
}


.feature{
    width: 100%;
    display: flex;
}


.feature-picture{
    position: relative;
    width: 49vw;
    text-align: left;
}

.feature-picture img{
    position: absolute;
    height: 450px;
    bottom: 0;
    align-self: flex-end;
}

.mirror img{
    right: 0;
    float: right;
}


.feature-description{
    position: relative;
    width: 49vw;
    height: 100%;
    justify-content: center;
}

.text-box{
    font-size: 20px;
    position: absolute;
    width: 70%;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
}

.text-box h1{
    color: #f98d7d;
    margin: 0;
}

.text-box p{
    margin: 0;
    color: #2f2a3e;
}

@media screen and (max-width: 780px){
    .feature-header{
        font-size: 44pt;
    }
}



@media screen and (max-width: 875px) {
    .text-box{
        font-size: 13px;
        bottom: 0;
    }
    .text-box p{
        margin-left: 10px;
        margin-right: 10px;
    }

    .feature-picture img{
        height: 250px;
    }
    
}

@media screen and (max-width: 550px){
    .feature-header{
        font-size: 33pt;
    }
}

@media screen and (min-width: 1800px){
    .feature-header{
        font-size: 140px;
    }
    
    .feature-picture img{
        height: 800px;
    }

    .text-box p{
        font-size: 40px;
    }

    .text-box h1{
        font-size: 50px;
    }
}


/* CUSTOMER REVIEWS */

.customer-reviews-content{
    height: 1500px;
    position: relative;
    background-image: linear-gradient(white, white, #f98d7d);
}

.customer-reviews-background-change{
    background-image: linear-gradient(white, white, #f98d7d, #f98d7d);
}

.review-phone{
    transition: 1s;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.review-phone-transform{
    transition: 1s;
    top: 55%;
}

.review-phone-transform img{
    transition: 0.5s;
    width: 850px;
    border-radius: 20px 20px 0px 0px;
} 

.phone-text{
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    width: 0;
    overflow: visible;
} 

.hide{
    opacity: 0;
    pointer-events: none;
}

.phone-text h1{
    font-size: 55px;
    color: #2f2a3e;
    font-weight: bolder
}

.client-animation-trigger{
    position: absolute;
    width: 100%;
    top: 70%;
    height: 250px;
}

.customer-reviews{
    display: none;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 555px;
    height: 1000px;
    background-color: white;
    border-radius: 60px;
}

.review-image{
    pointer-events: none;
    width: 100%;
    height: 70%;
}

.review-image img{
    width: 100%;
    height: 100%;
}

.review-text{
    width: 100%;
    height: 30%;
    color: #2f2a3e;
    padding: 15px;

}

.review-button{
    color: #2f2a3e;
    font-size: 80px;
}

@media screen and (max-width: 865px){
    .client-animation-trigger{
        position: absolute;
        width: 100%;
        top: 70%;
        height: 250px;
    }

    .review-phone-transform img{
        transition: 0.5s;
        width: 650px;
    }

    .customer-reviews{
        display: none;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 429px;
        height: 900px;
        background-color: white;
        border-radius: 40px;
    }
    
    .review-image{
        width: 100%;
        height: 70%;
    }
    
    .review-image img{
        width: 100%;
        height: 100%;
    }
    
    .review-text{
        width: 100%;
        height: 30%;
        color: #2f2a3e;
        padding: 10px;
        font-size: 16px; 
    
    }

    .review-text p{
        width: 95%;
    }
}
@media screen and (max-width: 640px){
    .review-phone img{
        width: 300px;
    }

    .phone-text h1{
        font-size: 50px;
    }

    .customer-reviews-content{
        height: 1100px;
    }

    .client-animation-trigger{
        position: absolute;
        width: 100%;
        top: 70%;
        height: 250px;
    }

    .review-phone-transform img{
        transition: 0.5s;
        width: 450px;
    }

    .customer-reviews{
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 295px;
        height: 630px;
        background-color: white;
        border-radius: 30px;
    }
    
    .review-image{
        width: 100%;
        height: 70%;
    }
    
    .review-image img{
        width: 100%;
        height: 100%;
    }
    
    .review-text{
        width: 100%;
        height: 30%;
        color: #2f2a3e;
        padding: 10px;
        font-size: 14px; 
    }

    .review-text p{
        width: 95%;
    }

    .review-button{
        color: #2f2a3e;
        font-size: 50px;
    }
}

@media screen and (max-width: 430px){
    .review-phone img{
        width: 200px;
    }

    .customer-reviews-content{
        height: 900px;
    }

    .phone-text h1{
        font-size: 35px;
    }

    .client-animation-trigger{
        position: absolute;
        width: 100%;
        top: 70%;
        height: 250px;
    }

    .review-phone-transform img{
        transition: 0.5s;
        width: 350px;
    }

    .customer-reviews{
        top: 50%;
        width: 230px;
        height: 490px;
        background-color: white;
        border-radius: 15px;
    }
    
    .review-image{
        width: 100%;
        height: 70%;
    }
    
    .review-image img{
        width: 100%;
        height: 100%;
    }
    
    .review-text{
        width: 100%;
        height: 30%;
        color: #2f2a3e;
        padding: 10px;
        font-size: 12px; 
    }

    .review-text p{
        width: 95%;
    }

    .review-button{
        color: #2f2a3e;
        font-size: 30px;
    }
}



/* DOWNLOAD APP ANIMATION */

.container{
    margin-top: 50px;
    width: auto;
    background: white;
    height: 600px;
    display: flex;
    transition: 0.5s;
    position: relative;
}

.container a{
    text-decoration: none;
    color: black;
}

.container .half{
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.2s;
    
}

.container .half .text{
    opacity: 0;
    font-family: 'Montserrat';
}

.container .half .logo{
    height: 160px;
    margin-top: 190px;
    transition: 0.2s;
    
}
.container .half:hover{
    background: #f98d7d;
}

.container .half:hover .text{
    opacity: 1;
}

.container .half:hover .logo{
    height: 100px;
}

#end-phone, #download-text{
    text-align: center;
    margin-top: 50px;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    cursor: default;
    pointer-events: none;

}

.container #right-side:hover ~ #download-text{
    opacity: 0;
}

.container #right-side:hover ~ #end-phone{
    left: 75%;
    transform: translate(-50%, -50%);
} 

.container #left-side:hover ~ #download-text{
    opacity: 0;
}

.container #left-side:hover ~ #end-phone{
    left: 25%;
    transform: translate(-50%, -50%);
} 

@media screen and (max-width: 800px){
    .container{
        display: none;
    }
}



