/* OPENING PAGE */

.content{
    display: block;
    overflow-x: hidden;
}

.opener{
    padding-bottom: 50px;
}

#openHeading{
  margin-top: 100px;
  text-align: center;
}

#openHeading h1 {
    color: #2f2a3e;
    font-weight: 700;
}

#openHeading h1 span{
    color: #f98d7d;
}

#social-medias{
    margin-top: 100px;
    text-align: center;
}

/* APPLE BUTTON */
.btn{
    border-radius: 30px;
    border: solid white;
    background-color: white;
    display: inline-flex;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: #2f2a3e;
    font-family: 'Montserrat';
}

.btn .circle img{
    height: 40px;
    transition: 0.2s;
}

.btn span{
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding: 5px;
    transition: 0.2s;
}

.btn span:after{
    content: "App Store";
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 20px;
    right: 0px;
    left: 30px;
    transition: 0.2s;
}

.btn:hover{
    border: solid #2f2a3e 2px;
    padding-right: 40px;
}

.btn:hover span{
    padding-right: 55px;
}

.btn:hover span:after{
    opacity: 1;
    right: -50px;
}


/* GOOGLE PLAY BUTTON */
.btn-reverse{
    border-radius: 30px;
    border: solid white;
    background-color: white;
    display: inline-flex;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn-reverse a{
    text-decoration: none;
    color: #2f2a3e;
    font-family: 'Montserrat';
}

.btn-reverse .circle img{
    height: 40px;
    transition: 0.2s;
}

.btn-reverse span{
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding: 5px;
    transition: 0.2s;
}

.btn-reverse span:after{
    content: "Google Play";
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 20px;
    left: 0px;
    right: 30px;
    transition: 0.2s;
}

.btn-reverse:hover{
    border: solid #2f2a3e 2px;
    padding-left: 40px;
}

.btn-reverse:hover span{
    padding-left: 55px;
}

.btn-reverse:hover span:after{
    opacity: 1;
    left: -50px;
}

@media screen and (min-width: 1800px){
    #openHeading h1{
        font-size: 2.5em;
    }    
}

@media screen and (max-width: 800px) {
    .btn{
        border: solid #2f2a3e 2px;
    }

    .btn-reverse{
        border: solid #2f2a3e 2px;
    }
}

/* WHAT WE DO */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #2f2a3e;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev{
      left: 0;
  }
  
  /* Position the "next" button to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
  }

.main{
    position: sticky;
    overflow-x: hidden;
}

/* What We Do  */
.carousel-custom{
    display: flex;
    height: 85vh;
    position: relative;
}

.carousel-section{
    position: relative;
    height: 100%;
    width: 100%;
}

.wwd-header{
    color: #f98d7d;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 47%;
    left: 50%;
    margin: 0;
}

.wwd-phone{
    height: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.wwd-text{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 45%;
    margin: 0;
    color: #2f2a3e;
    width: 75%;
}

@media screen and (max-width: 800px){
    .wwd-header{
        font-size: 30px;
    }

    .wwd-text{
        font-size: 15px;
    }

    .wwd-phone{
        height: 350px;
    }
}

@media screen and (max-width: 570px){
    .wwd-text{
        font-size: 11px;
    }

    .wwd-phone{
        height: 200px;
    }
}

@media screen and (min-width: 2000px){
    .wwd-phone{
        height: 600px;
    }

    .wwd-header{
        margin-top: 40px;
        font-size: 55px;
    }

    .wwd-text{
        font-size: 30px;
    }
}

/* HOME BANNERS  */

.banner{
    text-align: center;
    background-image: linear-gradient(to right, #f9bb87, #fc4c71);
    padding: 40px;
    color: #2f2a3e;
}

.banner a {
    border: 2px solid #2f2a3e;
    border-radius: 25px;
    color: #2f2a3e;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
    margin-left: 40%;
    margin-right: 40%;
  }
  
.banner a:hover {
    color: #f98d7d;
    background-color: #2f2a3e;
}

@media screen and (max-width: 1000px){
    .banner a{
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media screen and (max-width: 600px){
    .banner a{
        margin-left: 15%;
        margin-right: 15%;
    }
}

/* FEATURES BOX */

.features-box{
    margin-top: 50px;
    position: relative;
    background: #FDEADB;
    height: auto;
}

.feature-header {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 50%;
    margin: 0;
    text-align: center;
    font-size: 66pt;
    color: white;
}

.feature-header h1{
    margin: 0;
}


.text-box{
    font-size: 20px;
    position: absolute;
    width: 70%;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
}

.text-box h1{
    color: #f98d7d;
    margin: 0;
}

.text-box p{
    margin: 0;
    color: #2f2a3e;
}

.feature-picture{
    position: absolute;
    height: 450px;
    bottom: 0;
    align-self: flex-end;
}

.mirror{
    right: 0;
    float: right;
}

/* FEATURES RESPONSIVENESS */

@media screen and (max-width: 880px){
    .feature-picture{
        height: 400px;
    }
    .text-box{
        font-size: 18px;
        bottom: 0;
    }
}

@media screen and (max-width: 780px){
    .feature-header{
        font-size: 44pt;
    }

    .feature-picture{
        height: 330px;
    }
}

@media screen and (max-width: 570px){
    .carousel-custom{
        height: 60vh;
    }
    
    .feature-picture{
        height: 200px;
    }

    .text-box{
        top: 65%;
    }

    .feature-header h1{
        font-size: 50pt;
    }

    .text-box h1{
        font-size: 17px;
    }

    .text-box p{
        font-size: 10px;
    }

}

@media screen and (min-width: 2000px){
    .feature-header{
        font-size: 140px;
    }

    .text-box p{
        font-size: 30px;
    }

    .feature-picture{
        height: 800px;
    }

    .text-box h1{
        font-size: 40px;
    }
}


/* CUSTOMER REVIEWS */

.customer-reviews-content{
    height: 1500px;
    position: relative;
    background-image: linear-gradient(white, white, #f98d7d);
}

.customer-reviews-background-change{
    background-image: linear-gradient(white, white, #f98d7d, #f98d7d);
}

.review-phone{
    transition: 1s;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}


.review-phone-transform{
    transition: 0.5s;
    top: 55%;
}

.review-phone-transform img{
    transition: 0.2s;
    width: 650px;
    border-radius: 20px 20px 0px 0px;
} 

.phone-text{
    position: absolute;
    top: 50%;
    left: 19%;
    transform: translate(-50%, -50%);
    width: 0;
    overflow: visible;
} 

.hide{
    opacity: 0;
    pointer-events: none;
}

.phone-text h1{
    font-size: 55px;
    color: #2f2a3e;
}

.client-animation-trigger{
    position: absolute;
    width: 100%;
    top: 62%;
    height: 300px;
    pointer-events: none;
}

.review-image{
    pointer-events: none;
    width: 100%;
    height: 70%;
}

.review-image img{
    width: 100%;
    height: 100%;
    border-radius: 30px 30px 0px 0px;
    transition: 0.2s;
}

.review-text{
    width: 100%;
    height: 30%;
    color: #2f2a3e;
    padding: 15px;

}

.review-text h3{
    margin-top: 0;
    font-size: 18px;
}

.review-text p{
    font-size: 18px;
}

.review-button{
    font-size: 80px;
}

.carousel-customer-container{
    width: 100%;
    height: 1500px;
    position: relative;
}

.carousel-customer-review{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 427px;
    height: 873px;
    background-color: white;
    border-radius: 50px;
}

.customer-reviews-content .owl-dots{
    display: none;
}

@media screen and (min-width: 2000px){
    .prev, .next{
        margin: 180px;
        margin-top: 0;
    }
}

@media screen and (min-width: 1400px){
    .review-phone-transform img{
        transition: 0.2s;
        width: 850px;
    } 

    .carousel-customer-review{
        top: 58%;
        width: 555px;
        height: 1110px;
    }

    .review-text h3, .review-text p{
        font-size: 25px;
    }

}

@media screen and (max-width: 865px){
    .review-phone img{
        width: 335px;
    }

    .review-phone-transform img{
        transition: 0.2s;
        width: 650px;
    }

    .carousel-customer-review{
        top: 55%;
        width: 429px;
        height: 937px;
    }
    
    .review-text p{
        width: 95%;
    }
}
@media screen and (max-width: 640px){
    .review-phone img{
        width: 300px;
    }

    .phone-text h1{
        font-size: 50px;
    }

    .customer-reviews-content, .carousel-customer-container{
        height: 1100px;
    }

    .review-phone-transform img{
        width: 450px;
    }

    .carousel-customer-review{
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 295px;
        height: 638px;
        background-color: white;
        border-radius: 30px;
    }
    
    .review-text{
        padding: 10px;
        
    }

    .review-text h3, .review-text p{
        font-size: 15px; 
    }


    .review-text p{
        width: 95%;
    }

    .review-button{
        font-size: 50px;
    }
}

@media screen and (max-width: 430px){
    .review-phone img{
        width: 200px;
    }

    .review-image img{
        border-radius: 25px 25px 0px 0px;
    }

    .customer-reviews-content, .carousel-customer-container{
        height: 900px;
    }

    .phone-text h1{
        font-size: 35px;
    }

    .review-phone-transform img{
        width: 350px;
    }

    .carousel-customer-review{
        top: 55%;
        width: 230px;
        height: 497px;
        background-color: white;
        border-radius: 15px;
    }
      
    .review-text h3, .review-text p{
        font-size: 12px; 
    }

    .review-button{
        font-size: 30px;
    }

    .prev, .next{
        padding: 8px;
    }
}

/* DOWNLOAD APP ANIMATION */

.download-app{
    margin-top: 50px;
    width: auto;
    background: white;
    height: 600px;
    display: flex;
    transition: 0.5s;
    position: relative;
}

.download-app a{
    text-decoration: none;
    color: #2f2a3e;
}

.half{
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.2s;
    position: relative;
}

.half .text{
    opacity: 0;
    font-family: 'Montserrat';
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}

.half .logo{
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    
}
.half:hover{
    background: #f98d7d;
}

.half:hover .text{
    opacity: 1;
}

.text p, .text h2{
    margin: 0;
}

.half:hover .logo{
    height: 100px;
    top: 45%;
}

#end-phone, #download-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    cursor: default;
    pointer-events: none;
    color: #2f2a3e;
    margin: 0;
}

#right-side:hover ~ #download-text, #left-side:hover ~ #download-text{
    opacity: 0;
}

#right-side:hover ~ #end-phone{
    left: 75%;
} 

#left-side:hover ~ #end-phone{
    left: 25%;
} 

@media screen and (max-width: 800px){
    .download-app{
        height: 300px;
    }

    #end-phone{   
        height: 250px;
    }

    #download-text{
        font-size: 16px;
    }

    .half .logo{
        height: 90px;
    }

    .half .text{
        font-size: 12px;
    }

    .half:hover .logo{
        height: 60px;
        
    }
}

@media screen and (max-width: 480px){
    #end-phone{
        height: 200px;
    }

    #download-text{
        font-size: 14px;
    }

    .half .logo{
        height: 50px;
    }

    .half .text{
        font-size: 8px;
    }

    .half:hover .logo{
        height: 40px;
        
    }
}