/* TOP BAR */

.top-bar{
    background-color: #2f2a3e;
    color: #7f7999;
    display: flex;

}

.bar-content{
    display: flex;
    font-size: 14px;
    width: 100%;
}

.bar-content-right{
    text-align: right;
    width: 200px;
    display: flex;
}

.bar-content-right .social-medias-top svg{
    height: 40px;
    margin-right: 20px;
    fill: #7f7999;
}

.bar-content-right .social-medias-top svg:hover{
    fill: white;
   
}

.top-bar .bar-content .phone{
    display: flex;
    fill: #7f7999;
}

.bar-content .phone:hover{
    color: white;
    fill: white;
    cursor: default;
}

.bar-phone-icon svg {
    margin-left: 20px;
    height: 40px;

}

.bar-text-phone{
    margin-top: 13px;
    margin-left: 20px;
}

.top-button{
    margin-top: 13px;
    margin-left: 20px;
    color: #7f7999;
    text-decoration: none;
}


.top-bar .bar-content .top-button:hover {
    color: white;
}


/* NAVIGATION BAR */

nav {
    display: flex;
    top: 0s;
    justify-content: space-between;
    background: white;
    opacity: 0.8;
    width: 100%;
    z-index: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement */
.sticky + #content {
    padding-top: 130px;
}

.sticky + .content-about {
    padding-top: 130px;
}

.sticky + .content-faq {
    padding-top: 130px;
}

.sticky + .content-blog {
    padding-top: 130px;
}

.sticky + .content-blog-details{
    padding-top: 130px;
}

.sticky + .content-tutorial{
    padding-top: 130px;
}

.sticky + #content-contact {
    padding-top: 130px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    line-height: 0;
}

nav ul li {
    padding: 0px 10px;
    line-height: 0;
    height: 100%;
}

nav ul li a {
    color: #2f2a3e;
    text-decoration: none;
    padding: 65px 20px;
    line-height: 0;
    font-size: 16px;
    display: block;
    transition-duration: 0.4s;
}

li a:hover:not(.active) {
    background-color: lightgray;
}



nav div:first-child h1 {
    line-height: 0;
    padding: .8rem 0rem;
    margin: 0;
}

nav div:first-child img {
    margin-top: 18px;
    height: 100px;
    padding-left: 20px;
}

#menu-icon{
    display: none;
}

nav #register a {
  background: white;
  border: 2px solid #f98d7d;
  border-radius: 25px;
  color: #f98d7d;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 47px 24px;
  transition-duration: 0.4s;
  cursor: pointer;
}

nav #register a:hover {
    color: white;
    background-color: #f98d7d;
}