.video-container{
    position: relative;
    width: 95%;
}

#video{
    position: relative;
}

.video-elements-container{
    opacity: 0;
    transition: opacity 0.2s;
    width: 100%;
}

.video-title-container{
    position: absolute;
    top: 20px;
    width: inherit;
    height: 60px;
    border-radius: 14px 14px 0px 0px;
}

.video-title-container h3{
    position: absolute;
    top: 0px;
    font-size: 16px;
    color: white;
    left: 15px;
}

.video-title-gradient::after{
    border-radius: 14px 14px 0px 0px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, transparent 0%, #2f2a3e 100%);
}

.video-title-gradient h3{
    margin-left: 15px;
}

.controls-container{
    position: relative;
    width: 100%;
    height: fit-content;
    bottom: 46px;
}

.controls{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: inherit;
    background-color: #2f2a3e;
    height: 40px;
    border-radius: 0px 0px 14px 14px;
}

#play-pause{
    height: 24px;
    margin-top: 4px;
}

.time{
    font-weight: 100;
    margin-top: 10px;
    font-size: 16px; 
    display: flex;  
    margin-right: 20px;
    
}

.right-section{
    color: white;
    display: flex;
    margin-right: 15px;
}

.fullscreen-btn{
    margin-top: 8px;
    font-size: 16px;
    cursor: pointer;
}

.fullscreen-btn img{
    height: 24px;
}

video:hover ~ .video-elements-container, .video-elements-container:hover{
    opacity: 1;
}

.controls button{
    background: none;
    font-weight: bolder;
    text-shadow: 2px 1px 2px #000;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

.controls button svg{
    fill: #fff;
}

.seek-tooltip{
    opacity: 0;
    position: absolute;
    bottom: 40px;
    background-color: #2f2a3e;
    color: white;
    font-size: 14px;
    content : attr(data-title);
    padding: 5px;
    border-radius: 5px;
    transition: opacity 0.2s;
}

.progress:hover + .seek-tooltip {
    
    opacity: 1;
}

progress{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 10px;
    width: 100%;
    border-radius: 0px;
    position: absolute;
    bottom: -2px;
    transition: 0.2s;
    
}

progress::-webkit-progress-bar{
    background-color: #f58e7eaa;
}

progress::-webkit-progress-value{
    background-color: #f58e7e;
}

input[type="range"] {
    cursor: pointer;
    -webkit-appearance: none;
    position: absolute;
    left: -2px;
    bottom: -2px;
    width: 100%;
    border-radius: 0px;
    background: transparent; 
    height: 10px;
}

input[type="range"]::-webkit-slider-thumb{
    opacity: 1;
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: white;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

#play{
    display: block;
}

.centre-icon{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 80px;
    background-color: #2f2a3e;
    opacity: 1;
}

.centre-icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
}

.fade-out{
    opacity: 0;
    transition: 0.5s;
}
